body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: #2d2d2f;
  display: flex;
}

.container {
  width: 1200px;
  display: grid;
}

.container .card {
  border-radius: 0px 30px 0px 30px;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #fbcc5b;
  box-shadow: inset 0 15px 60px rgba(82, 61, 61, 0.2);
}

.container .card .part {
  border-radius: 0px 30px 0px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .part.one {
  box-sizing: border-box;
  padding: 20px;
}

.container .card .part.one h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
}

.container .card .part.two {
  background: #111;
  transition: 0.5s;
}

.container .card:hover .part.two {
  height: 60px;
  border-radius: 0;
}

.container .card:hover .part.part.two h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.container .card:nth-child(1) .part.two {
  background: linear-gradient(45deg, #ccff00, #fbcd5c);
}

.container .card .part.two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.container .card .part.two h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
