.container {
  display: flex;
  position: relative;
  width: auto;
  height: 100px;
}

.container span {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fcb1dd;
  margin-top: 50px;
  animation: 1s animate infinite;
}

@keyframes animate {
  20% {
    background-color: #f0f0f0;
  }
  50% {
    margin-top: 10px;
  }
  80% {
    background-color: aqua;
  }
}

span:nth-child(1) {
  position: relative;
  display: flex;
  animation-delay: 0.2s;
}

span:nth-child(2) {
  animation-delay: 0.4s;
}

span:nth-child(3) {
  animation-delay: 0.6s;
}

span:nth-child(4) {
  animation-delay: 0.8s;
}
span:nth-child(5) {
  animation-delay: 1s;
}
span:nth-child(6) {
  animation-delay: 1.42s;
}
